# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# TensorFlow object detection installation stuffs
cocoapi/
protoc-3.5.1/
ssd_*.tar.gz
ssd_*/
faster_rcnn_*.tar.gz
faster_rcnn_*/

# Project specifics
egohands_data.zip
egohands/
egohands_kitti_formatted/
*.tfrecord
